.arrow-container {
    display: flex;
    gap: 510px;
    position: relative;
    /*position: absolute;*/
    /*bottom: 0;*/
    
    offset-position: 10px;
    margin-inline: 20.8%;
    
    }
    
    .month
    {
    width: 200px;
    height: 100px;
    font-size: 14pt;
    border: none;
    /*border-radius: 10px;*/
    background-color: #D9D9D9;
    align-items: center;
    margin-inline: 10%;
    text-align: center;
    
    }
    
    .arrow-button {
    width: 60px;
    height: 60px;
    background-color: #ccc;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
    
    }
    
    .arrow-button:hover {
    background-color: #2196F3;
    }
    
    .arrow {
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    }
    
    .right-arrow .arrow {
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent white;
    
    }
    
    .left-arrow .arrow {
    border-width: 10px 15px 10px 0;
    border-color: transparent white transparent transparent;
    }
    
    .Table
    {
    display: table;
    width: 800px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    align-content: center;
    }
    .Title
    {
    
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    }
    .Heading
    {
    display: table-row;
    font-weight: bold;
    text-align: center;
    
    }
    .Row
    {
    display: table-row;
    }
    .Cell
    {
    display: table-cell;
    /*border: solid;
    border-color: #2196F3;*/
    border-width: thick;
    padding-left: 0%;
    padding-right: 0%;
    vertical-align: left;
    width: 65px;
    height: 65px;
    font-size: large;
    
    
    }

    .Cell2
    {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    background-color:lightgray;
    text-align: center;
    
    
    }

    .react-datepicker__navigation--years {
        background: none;
        line-height: 1.7rem;
        text-align: center;
        cursor: pointer;
        padding: 0;
        border: 0.45rem solid transparent;
        z-index: 1;
        height: 10px;
        width: 10px;
        text-indent: -999em;
        overflow: hidden;
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      
      .react-datepicker__navigation--years.react-datepicker__navigation--years-upcoming {
        top: -4px;
        border-bottom-color: #ccc;
      }
      
      .react-datepicker__navigation--years.react-datepicker__navigation--years-previous {
        top: 4px;
        border-top-color: #ccc;
      }

      .center{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
   }

   div2 {
    width: 400px;
    height: 400px;
    /*background-color: red;*/
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

