.reminder-popup {
  position: fixed; 
  top: 20px;
  right: 20px;
  width: 250px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 9999; 
  font-family: Arial, sans-serif;
  padding-bottom: 50px; 
}


.reminder-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007BFF;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.reminder-popup-content {
  padding: 10px;
}

.close-button {
  background: none;
  border: none;
  font-size: 20px;
  line-height: 1;
  color: #fff;
  cursor: pointer;
}

.close-button:hover {
  color: #ccc;
}

/* Position the mute button at the bottom right */
.mute-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.mute-button:hover {
  background-color: #c82333;
}
